DB_NAME=projeto-receita
DB_USER=postgres
DB_PASS=coloque_sua_senha
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres
SESSION_SECRET=portifolio-web-de-receitas-culinarias
PORT=3000
MONGO_URI=coloque_a_uri_do_mongodb_atlas
